.jumbotron {
  padding-top: 6rem;
  background-color: #00b7ff;
}

#projects {
  background-color: #00b7ff;
}

section {
  padding-top: 5rem;
}

.galery-img {
  width: 100%;
}

#galery .row > * {
  padding: 0;
}
